.package-box{
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  transition: all 0.3s ease;
}
.package-box:hover{
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.package-box img.package-icon {
  content: url("../img/icon-bw.png");
  transition: all 0.3s ease;
}

.package-box:hover img.package-icon {
  content: url("../img/icon-color.png");
  transform: scale(1.5);
}

/* .package-features {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 1s ease;
}
.package-box:hover .package-features {
  max-height: 500px;
  opacity: 1;
}

@media (max-width: 991px) {
  .package-features {
    max-height: none !important;
    opacity: 1 !important;
    overflow: visible !important;
  }
} */
